.tableBody td {
  padding: 8px 12px;
}
.tableBody td.imgCall {
  padding: 5px 8px;
}
.tableBody td:first-of-type {
  width: 30%;
}
.tableBody td:nth-of-type(2) {
  width: 30%;
}
.tableBody .text {
  overflow: hidden;
  display: inline-block;

  max-width: 285px;

  text-overflow: ellipsis;
  white-space: nowrap;
}
.actions button {
  padding: 4px;
}
.packName button {
  padding: 0;

  background: transparent;
  border: 0;
}
.stars > div {
  position: relative;

  display: inline-block;
}
.stars > div svg:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
}
.starsAndActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.starsAndActions .stars {
  margin-right: 15px;

  line-height: 0.7;
}
.starsAndActions .actions {
  display: flex;
}
.starsAndActions .actions p {
  margin-bottom: 15px;
}
.actions button {
  padding: 2px;
}

.withActions {
  width: 190px;
}
.withoutActions {
  width: 144px;
}

.actions .editCardModal p {
  margin-bottom: 8px;
}
.editCardModal .inputBlock p:last-of-type {
  margin-top: 20px;
}

.editCardModal select {
  width: 100%;
  margin-bottom: 20px;
  padding: 9px 5px;

  border: 1px solid #a7a7a7;
  border-radius: 5px;
}

/*.inputBlock .coverBlock {*/
/*  position: relative;*/

/*  text-align: center;*/
/*}*/

/*.inputBlock .coverBlock .selectCover {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*}*/

.editCardModal .inputBlock .coverBlock p {
  margin-top: 0;
  margin-bottom: 8px;
}

.inputBlock img {
  max-height: 110px;
}

.inputBlock input {
  display: block;

  width: 100%;
}

.cardCover {
  height: 40px;
}

.selectCover {
  margin-bottom: 10px;
}


@media (max-width: 1150px) {
  .tableBody td:first-of-type {
    width: auto;
    max-width: calc(50vw - 250px);
  }
  .tableBody td:nth-of-type(2) {
    width: auto;
    max-width: calc(50vw - 250px);
  }
  .tableBody .text {
    max-width: 100%;
  }
  .tableBody .user td:first-of-type {
    max-width: calc(50vw - 230px);
  }
  .tableBody .user td:nth-of-type(2) {
    width: auto;
    max-width: calc(50vw - 250px);
  }
}

@media (max-width: 800px) {
  .tableBody tr td {
    padding: 4px 6px;

    font-size: 14px;

    border-left: 1px solid #DCDCDC !important;
  }
  .tableBody td:first-of-type {
    width: auto;
    max-width: calc(50vw - 165px);
    padding: 4px 6px;
  }
  .tableBody td:nth-of-type(2) {
    width: auto;
    max-width: calc(50vw - 165px);
  }
  .tableBody .user td:first-of-type {
    max-width: calc(50vw - 140px);
  }
  .tableBody .user td:nth-of-type(2) {
    max-width: calc(50vw - 140px);
  }
  .withActions {
    width: 162px;
  }
  .starsAndActions .stars {
    margin-right: 8px;
  }
}