.tableBody td {
  padding: 8px 12px;
}
.tableBody th {
  width: 30%;
}
.tableBody td:first-of-type {
  width: 30%;
}
.tableBody .text {
  overflow: hidden;
  display: inline-block;

  max-width: 300px;

  text-overflow: ellipsis;
  white-space: nowrap;
}
.actions button {
  padding: 4px;
}
.packName button {
  padding: 0;

  background: transparent;
  border: 0;
}
.stars > div {
  position: relative;

  display: inline-block;
}
.stars > div svg:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
}
.starsAndActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.starsAndActions .stars {
  margin-right: 15px;

  line-height: 0.7;
}
.starsAndActions .actions {
  display: flex;
}
.starsAndActions .actions p {
  margin-bottom: 15px;
}
.starsAndActions .actions button {
  padding: 2px;
}
.actions button.del {
  padding: 3px 15px 4px 15px;;

  font-size: 15px;
}
.actions button.close {
  margin-right: 12px;
  padding: 3px 15px 4px 15px;;

  font-size: 15px;

  background: #868686;
}
.actions button.close:hover {
  background: #656565;
}
.withActions {
  width: 190px;
}
.withoutActions {
  width: 144px;
}
