.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  font-family: "Oswald", sans-serif;
}
.slider span:nth-of-type(2) {
  width: calc(100% - 40px);
}
.minMax {
  overflow: hidden;
  display: inline-block;

  width: 57px;
  margin-right: 14px;

  font-size: 20px;
  text-align: center;

  border: 0;
  border-radius: 5px;
}
.minMax::-webkit-outer-spin-button,
.minMax::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.minMax:last-of-type {
  margin-left: 14px;
}

@media (max-width: 800px) {
  .minMax {
    width: 45px;
    padding: 3px 0;

    font-size: 16px;
  }
  .minMax:last-of-type {
    margin-right: 0;
  }
}
