.inpEmail_container {
  position: relative;

  margin-bottom: 28px;
}

.inpEmail {
  width: 100%;
}

.btn {
  width: 100%;
}

.error_message {
  pointer-events: none;

  position: absolute;
  z-index: 1;
  top: calc(100% + 6px);
  left: -8px;

  margin-top: -4px;
  padding: 2px 8px 5px 8px;

  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  color: #fff;

  background: #434f5c;
  border-radius: 6px;

  animation: fade 0.2s;
  animation-iteration-count: 1;
}

.input_description {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
}

.login_link {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 20px;

  text-align: center;
}

.login_link span {
  border-bottom: 1px solid gray;
}
