.inpEmail_container,
.inpPass_container {
  position: relative;

  margin-bottom: 28px;
}

.inpEmail,
.inpPass {
  width: 100%;
}

.btn {
  width: 100%;
}

.error_message {
  pointer-events: none;

  position: absolute;
  z-index: 1;
  top: calc(100% + 6px);
  left: -8px;

  margin-top: -4px;
  padding: 2px 8px 5px 8px;

  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  color: #fff;

  background: #434f5c;
  border-radius: 6px;

  animation: fade 0.2s;
  animation-iteration-count: 1;
}
