.inpEmail {
  width: 100%;
}
.inpPass {
  width: 100%;
}

.checkBox {
  display: flex;
  justify-content: space-between;

  margin-top: 35px;
}

.btn {
  width: 100%;
  margin-top: 35px;
}

.inputContainer {
  position: relative;

  margin-top: 35px;
  margin-bottom: 15px;
}

.formError {
  pointer-events: none;

  position: absolute;
  z-index: 1;
  top: calc(100% + 6px);
  left: -8px;

  margin-top: 4px;
  padding: 2px 8px 5px 8px;

  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  color: #fff;

  background: #434f5c;
  border-radius: 6px;

  animation: fade 0.2s;
  animation-iteration-count: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.formError:before {
  content: '';

  position: absolute;
  z-index: -1;
  top: -4px;
  left: 14px;
  transform: rotate(45deg);

  width: 8px;
  height: 8px;

  background: #434f5c;
}
