.tableHead {
  background: #F0F0F0;
}
.tableHead th {
  cursor: pointer;

  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}
.tableHead th:first-of-type {
  text-align: left;
}
.tableHead th:last-of-type {
  cursor: auto;
}
.tableHead th span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.tableHead th:first-of-type span {
  justify-content: flex-start;
}
.tableHead th span.arrowTop svg {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .tableHead th {
    padding: 7px;

    font-size: 16px;
    letter-spacing: 0;

    border-right: 1px solid #DCDCDC;
  }
  .tableHead th:first-of-type {
    width: calc(100% - 390px);
    min-width: 160px;
  }
  .tableHead th:nth-of-type(2) {
    width: 80px;
  }
  .tableHead th:nth-of-type(3) {
    width: 130px;
  }
  .tableHead th:nth-of-type(4) {
    width: 120px;
  }
  .tableHead th:last-of-type {
    width: 60px;
  }
  .tableHead th span svg {
    font-size: 19px;
  }
}