.header {
  position: relative;

  background-color: rgba(235, 235, 235, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.logo_nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 0;
}

.logo {
  max-height: 50px;
}
.header a {
    padding: 5px 10px;

    font-size: 18px;
    font-weight: 300;
    color: #000;
}
.header a:hover {
  text-decoration: underline;
}
.header .signIn {
    padding: 0;
}
.signIn button {
    padding: 4px 20px 5px 20px;
}
.login {
    display: flex;
    align-items: center;

    padding: 0;
}
.login img {
    max-height: 40px;
    margin-left: 10px;

    border-radius: 50%;
}

.linear_progress_container {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: fit-content;

  background-color: white;
}
