.cards .search {
  margin-bottom: 30px;
}
.cards table {
  overflow-x: auto;

  min-width: 700px;
}
.backToPacks {
  margin-bottom: 25px;
}
.backToPacks a {
  display: flex;
  align-items: center;

  width: max-content;
  padding: 0;

  font-size: 20px;

  background: transparent;
  border: 0;
}
.backToPacks button svg {
  transition: 0.2s;
}
.backToPacks button:hover svg {
  transform: translate(-4px, 0);
}
.titleAndBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #fff;
}
.titleAndBtn > div:first-of-type {
  width: calc(100% - 160px);
}
.titleAndBtn h1 {
  margin-bottom: 0;

  font-size: 36px;
}
.titleAndBtn > div {
  display: flex;
  align-items: flex-start;
}
.learnBtn {
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
.actions {
  position: relative;
}
.actions .learnDisabled {
  display: flex;
  align-items: center;

  margin-bottom: 0;

  color: #b4b4b4;
}
.actions .learnDisabled svg {
  margin-right: 5px;
}
.actions .dotsForActions {
  margin-top: 7px;
  margin-left: 5px;
  padding: 2px;

  background: #fff;
  border: 1px solid #afafaf;
}
.actions .dotsForActions:hover {
  background: #fff;
}
.actionsPopUp {
  position: absolute;
  z-index: 10;
  top: calc(100% + 8px);
  left: 0;

  display: none;

  padding: 15px;

  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.actionsPopUp.actionsIsOpened {
  display: block;
}
.actions .action {
  display: flex;
  align-items: center;

  margin-bottom: 12px;
  padding: 0;

  font-size: 16px;
  color: #555;

  background: transparent;
  border: 0;
}
.actions a.action {
  margin-bottom: 0;
}
.actions .action svg {
  margin-right: 5px;

  color: #777;
}
.actions .action:hover {
  text-decoration: underline;
}
p.filterName {
  margin-bottom: 6px;

  font-size: 18px;
}

.inputBlock > div {
  display: block;

  width: 100%;
  margin-bottom: 20px;
}

.createCardModal p {
  margin-bottom: 5px;
}
.createCardModal .inputBlock p:last-of-type {
  margin-top: 15px;
}

.editPackModal input {
  margin-bottom: 20px;
}

.createCardModal select {
  width: 100%;
  margin-bottom: 20px;
  padding: 9px 5px;

  border: 1px solid #a7a7a7;
  border-radius: 5px;
}

.inputBlock input {
  display: block;

  width: 100%;
}

.modalButtonBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .cards .search {
    margin-bottom: 20px;
  }
  .titleAndBtn {
    margin-bottom: 12px;
    padding-bottom: 15px;
  }
  .titleAndBtn h1 {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .titleAndBtn h1 {
    font-size: 28px;
  }
  .titleAndBtn > div:first-of-type {
    width: 100%;
    margin-bottom: 10px;
  }
  .actions .dotsForActions {
    margin-top: 4px;
    padding: 1px;
  }
}