.titleAndBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #fff;
}
.titleAndBtn h1 {
  margin-bottom: 0;

  font-size: 36px;
}

.inputBlock > div{
  display: block;

  width: 100%;
  margin-bottom: 30px;
}