.titleAndBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #fff;
}
.titleAndBtn h1 {
  margin-bottom: 0;

  font-size: 36px;
}

.pacs table {
  overflow-x: auto;

  min-width: 600px;
}

.inputBlock > div {
  display: block;

  width: 100%;
  margin-bottom: 30px;
}

.coverBlock {
  position: relative;

  display: block;

  width: 100%;
}

.selectCover {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 800px) {
  .titleAndBtn {
    margin-bottom: 12px;
    padding-bottom: 15px;
  }
  .titleAndBtn h1 {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .titleAndBtn h1 {
    font-size: 28px;
  }
}
