.tableHead {
  background: #F0F0F0;
}
.tableHead th {
  cursor: pointer;

  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}
.tableHead th:nth-of-type(2) {
  text-align: left;
}
.tableHead th:first-of-type {
  text-align: left;
}
.tableHead th:last-of-type {
  padding-left: 21px;
}
.tableHead th span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableHead th:last-of-type span {
  justify-content: flex-start;
}
.tableHead th span.arrowTop svg {
  transform: rotate(180deg);
}

@media (max-width: 1150px) {
  .tableHead th:nth-of-type(3) {
    width: 150px;
  }
  .tableHead th:last-of-type {
    width: 190px;
  }
}

@media (max-width: 800px) {
  .tableHead th {
    padding: 7px;

    font-size: 16px;
    letter-spacing: 0;

    border-right: 1px solid #DCDCDC;
  }
  .tableHead th:last-of-type {
    width: 170px;
  }
  .tableHead th:nth-of-type(3) {
    width: 130px;
  }
}