/* Шрифты */

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: url('../fonts/OpenSansRegular.eot'), url("../fonts/OpenSansRegular.woff"), url("../fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url('../fonts/OpenSansBold.eot'), url("../fonts/OpenSansBold.woff"), url("../fonts/OpenSansBold.ttf");
}

@font-face {
  font-family: "Oswald";
  font-weight: 200;
  src: url('../fonts/Oswald-Light.eot'), url("../fonts/Oswald-Light.woff"), url("../fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url('../fonts/Oswald-Regular.eot'), url("../fonts/Oswald-Regular.woff"), url("../fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  font-weight: 600;
  src: url('../fonts/Oswald-Medium.eot'), url("../fonts/Oswald-Medium.woff"), url("../fonts/Oswald-Medium.ttf");
}

/*общие стили*/
* {
  box-sizing: border-box;
}
a,
p,
li {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #333;
}
p {
  margin-bottom: 20px;
}
a {
  color: #333;
  text-decoration: none;
}
a:focus {
  outline: unset;
}
h1,
h2 {
  margin-bottom: 25px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 45px;
}
h3,
h4 {
  margin-bottom: 15px;

  font-family: "Oswald", sans-serif;
  font-weight: 200;
  line-height: 1.3;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 26px;
}
strong,
b {
  font-weight: 600;
}
mark {
  background-color: unset;
}
img {
  max-width: 100%;
}
hr {
  margin: 20px 0;
  
  border-width: 0;
  border-top: 1px solid #e0dede;
}

/* стили для ul li */
ul.ul-custom {
  margin-bottom: 20px;
}
ul.ul-custom li {
  position: relative;

  margin-bottom: 3px;
  padding-left: 24px;

  line-height: 1.3;
}
ul.ul-custom li:before {
  content: "";

  position: absolute;
  top: 9px;
  left: 8px;

  width: 6px;
  height: 6px;

  background: #29323C;
  border-radius: 50%;
}

/* Основная ширина */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Страницы с формой */
.formPage {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 72px);
  padding: 60px 20px;
}
.formContainer {
  width: 100%;
  max-width: 530px;
  padding: 50px 70px 70px 70px;

  background-color: rgba(235,235,235,.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.formContainer h1 {
  margin-bottom: 35px;

  text-align: center;
}